@font-face {
    font-family: "Barlow Semi-Condensed";
    src: url("./barow-semi-condensed/BarlowSemiCondensed-Medium.ttf");
}

body {
    background: radial-gradient(circle at 100%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Barlow Semi-Condensed";
    height: 100vh;
    overflow: hidden;
}

h1 {
    width: 100px;
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding: .5rem 1rem;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    margin-top: 3rem;
}

.score_board {
    text-align: center;
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.score_board h5 {
    color: hsl(229, 64%, 46%);
    margin-bottom: 10px;
}

.score_board h1 {
    color: hsl(229, 25%, 31%);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3rem;
}

.chain {
    margin-top: 10.5rem;
    position: relative;
    z-index: 0;
}

.paper_border {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: fit-content;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0 7px 0 0 hsl(230, 55%, 25%);
    position: relative;
    bottom: 24rem;
    right: 8rem;
}

.paper {
    background-color: #fff;
    width: fit-content;
    padding: 3rem;
    border-radius: 50%;
    box-shadow: 0 -7px 0 0 #bcbcbc;
}

.paper img {
    width: 59px;
    height: 59px;
}

.scissors_border {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    width: fit-content;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0 7px 0 0 hsl(39, 55%, 25%);
    position: relative;
    bottom: 38rem;
    left: 13rem;
}

.scissors {
    background-color: #fff;
    width: fit-content;
    padding: 3rem;
    border-radius: 50%;
    box-shadow: 0 -7px 0 0 #bcbcbc;
}

.rock_border {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    width: fit-content;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0 7px 0 0 hsl(349, 55%, 25%);
    position: relative;
    bottom: 35rem;
    left: 3rem;
}

.rock {
    background-color: #fff;
    width: fit-content;
    padding: 3rem;
    border-radius: 50%;
    box-shadow: 0 -7px 0 0 #bcbcbc;
}

footer {
    padding: .5rem 1.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
    bottom: 63rem;
    left: 48rem;
    cursor: pointer;
}

.rule_popup {
    background-color: #fff;
    width: fit-content;
    padding: 2rem 3rem;
    border-radius: 10px;
    position: relative;
    bottom: 70rem;
    transition: all 400ms ease-in-out;
    opacity: 1;
}

.rule_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rule_popup h3 {
    color: hsl(229, 25%, 31%);
    font-size: 2rem;
}

.rule_popup img {
    font-family: "Barlow Semi-Condensed";
    cursor: pointer;
}